{% extends 'base.html' %} {% load static %}
{% block content %}
<section id="top-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-6" style="text-align: center;">
						<h1 class="padding-top">Om Marie</h1>
						<h5>Yogalærer Marie er en Freelance yogalærer og holder flere ulike typer yogakurs på Sotra,
							Bergen og
							omegn. Marie er yogalærer ved Spiritus Yoga og er medlem i Yoga allianse, Marie har
                             praktisert yoga i 7 år. Marie's yogareise startet i 2013 da hun hadde sitt første møte med yoga.</h5>
                        <h5>"As long as there is breath in the body, there is life. When breath departs, so too does life. 
                            Therefore, regulate the breath." - The Hatha Yoga Pradipika</h5>

					</div>
					<div class="col-sm-12 col-lg-6" style="text-align: center;">
						<img src="https://i.imgur.com/VqK78Xv.jpg" alt="Spiritus Yoga" class="rounded-circle extra-styling">
					</div>
						<div id="extra-about-style" style="text-align: center;" class="col-12">
							<p>Marie er yogalærer ved Spiritus Yoga og hun har praktisert yoga i 7 år. Min yogareise
								startet i 2013 da jeg hadde mitt første møte med yoga. Det var pusteøvelsene og
								sinnsroen det ga meg som tiltrakk meg først. Etterhvert oppdaget jeg at kroppen ble
								sterkere, smidigere og jeg fikk en større bevissthet rundt hvordan de fysiske øvelsene
								styrket meg fysisk og enda viktigere mentalt.
							</p>
							<p style="text-align: center;">Siden den gang har yoga vært en svært viktig del av livet mitt. Yoga og bruken av pust
								ble et viktig verktøy som kunne hjelpe og støtte meg i en krevende hverdag. Yoga, pust
								og fysiske øvelser har gjort meg tryggere på meg selv og tryggere på andre mennesker.
							</p>
							<p style="text-align: center;">Marie ser på yoga som en måte å forene kropp og sinn samtidig som man tar vare på kroppen
								ved å holde den i bevegelse, sikre fleksibilitet, styrke og balanse.<br>
								- Pust betyr Yoga tilfører hun.
							</p>
							<p style="text-align: center;">Drømmen om å en dag kunne bli yogalærer, ble oppfylt i juni i 2019 da jeg fullførte min
								Ashtanga - Vinyasa teacher training (200t) ved HiYoga. Jeg gleder seg til å starte
								yogareisen min sammen med andre som liker å gjøre yoga, eller som vil prøve noe nytt.
								Jeg tilbyr Ashtanga – Vinyasa yogakurs, senior yogakurs, fjell yoga, Yin Yoga og
								bedrifts interne yogakurs.
							</p><br><br>
							<h5 style="text-align: center;">Mitt ordtak er følgende:<br>

								Do not dwell in the past, do not dream of the future, concentrate the mind on the
								present moment.<br><strong>- Ordtak Buddha</strong>
							</h5>
						</div>
					</div>
				</div>
		</section>
{% endblock %}