{% extends 'base.html' %} {% load static %}
{% block content %}
<div class="background-img">
			<div>
				<div class="col-xs-8 offset-xs-2 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
					<div class="jumbotron center-align shadow-lg">
						<h1 class="display-6">Velkommen til Spiritus Yoga</h1>
						<p class="lead">Do not dwell in the past, do not dream of the future, concentrate the mind on
							the present moment<br><strong>- Ordtak Buddha</strong></p>
						<hr class="my-4">
						<p>Yogalærer Marie er en Freelance yogalærer å holder flere ulike typer yogakurs på Sotra,
							Bergen og omegn.</p>
						<a class="btn btn-primary btn-lg" href="om-marie.html" role="button">Les mer</a>
					</div>
				</div>
			</div>
</div>
<section id="middle-section">
		<div>
			<h1 class="font-prop">Spiritus Yoga Marie</h1>
		</div>
		<div class="container">
			<div class="row">

				<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<a href="kurs.html">
						<div class="hero-image">
						</div>
						<h1 style="font-size:30px">8 ukers Ashtanga - Vinyasa flow kurs</h1>
						<h5 style="text-align:center;">med Marie Spiritus Yoga</h5>
					</a>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<a href="senior.html">
						<div class="hero-image-one">
						</div>
						<h1 style="font-size:30px">8 ukers senior yoga kurs</h1>
						<h5 style="text-align:center;">med Marie Spiritus Yoga</h5>
					</a>

				</div>
				<div class="col-12">
					<a href="for-menn.html" class="border-bottom">
						<div class="hero-image-two">
						</div>
						<h1 style="font-size:50px">Yoga for menn</h1>
                        <h5 style="text-align:center;">med Marie Spiritus Yoga</h5>						
					</a>
                    <div class="lining"></div>
					<a href="bedrift.html" class="border-top">
						<h1 style="font-size:30px"><strong>Bedriftsinterne kurs</strong></h1>
						<h5 style="text-align:center;">Jeg tilbyr egne kurs for teambuilding til bedrifter, eller privat timer</h5>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
