{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container top-padding">
    <h3>Bestillingskjema</h3>
    <div class="col-10 offset-1 borderline">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-12 padding-extra">
                    <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Fullt Navn">
                </div>
                <div class="col-12 padding-top">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="din@e-post.com">
                    </div>
                </div>
                <div class="col-12 padding-top">
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Telefon">
                    </div>
                </div>
                <div class="col-12 padding-top">
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="form-control btn btn-white btn-lg dropdown-toggle" type="button" data-toggle="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                                Velg kurs...
                            </button>
                        
                            {% for course in courses %}
                                <div class="dropdown-menu">
                                    <div class="dropdown-item" name="course_name" id="course_name">{{ course_name }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 padding-top">
                    <div class="form-group">
                        <button class="form-control btn btn-white btn-lg dropdown-toggle" name="course_date" id="course_date" type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Velg dato og tidspunkt</button>
                    </div>
                </div>
                <div class="col-12 padding-top">
                    <div class="form-group">
                        <textarea class="form-control" name="order_message" id="order_message" rows="5" placeholder="Skriv din melding her..."></textarea>
                    </div>
                </div>
                <div class="col-4 offset-4">
                    <input type="submit" class="btn btn-primary btn-lg center" value="Send">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


            