{% extends 'base.html' %}
{% load static %}

{% block content %}		
    <div class="background-image-three">
    </div>
    <div id="panel-header">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Senior Yoga</h2>
            </div>
        </div>
    </div>
    <div class="container">
        {% for senior in seniors %}
            <div class="container">
                <h3  id="margin-top" class="underline text-center">{{ senior.senior_header }}</h3>
                <div id="text-center" class="col-sm-12 col-lg-8 offset-lg-2">
                    <p>{{ senior.senior_text }}</p>
                </div>
                <div class="col-4 offset-4">
                    {% if senior.image %}
                        <img id="pic-settings" class="rounded-circle" src="{{ senior.image.url }}" alt="{{ senior.senior_header }}">
                    {% else %}
                        <img class="img-fluid rounded-circle extra-styling" src="{{ MEDIA_URL }}noimage.png" alt="{{ senior.senior_header }}">
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <p>{{ senior.senior_content }}</p>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <p>{{ senior.senior_content_2 }}</p>
                    </div>
                </div>
                <div id="text-center" class="col-sm-12 col-lg-8 offset-lg-2">
                    <p>{{ senior.senior_content_3 }}</p>
                    <p>{{ senior.senior_content_4 }}</p>
                    <a id="button-styling" href="bestille.html" class="btn btn-primary">Bestille</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}